<form (ngSubmit)="onSubmit($event)">
  <fieldset id="fieldset">
    <p>Sign the NETH wallet, {{ account.account_id }}</p>
    <p>NEAR Balance: {{ balance }}Ⓝ</p>
    <p class="highlight">
      <label for="address">Destination:</label>
      <input autoComplete="off" autoFocus id="address" required (focusout)="checkAddress($event)"/>
    </p>
    <p class="highlight">
      <label for="ft_contract">Token Contract:</label>
      <input id="ft_contract" required (focusout)="getTokenBalance($event)"/>
    </p>
    <p>
      Current Amount: {{ currentAmount }}
    </p>
    <p>
      <label for="amount">Amount to send:</label>
      <input
        autocomplete="off"
        [defaultValue]="'0'"
        id="amount"
        min="0"
        step="0.01"
        type="number"
      />
    </p>
    <button type="submit">Send</button>
  </fieldset>
</form>
